---
interface Props {
  callToAction: string;
  buttonText: string;
  companyName: string;
  //    logoImage:string;
}
const { callToAction, buttonText, companyName } = Astro.props;

const imageURL = "IMG-20250619-WA0004.jpg";
const bgStyle = {
  backgroundImage: `url('/img/${imageURL}')`,
};
---

<header
  class="bg-cover bg-no-repeat bg-gray-900 bg-blend-multiply"
  style={bgStyle}
>
  <nav
    class="text-white uppercase pt-8 p-4 font-bold flex items-center justify-center gap-2"
  >
    <span class="inline-block align-middle">
      <!-- SVG zapatilla simple -->
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4 24C4 21 8 18 12 18H28V24H4Z"
          fill="#f9ef23"
          stroke="#222"
          stroke-width="2"></path>
        <rect x="20" y="14" width="6" height="4" rx="2" fill="#222"></rect>
      </svg>
    </span>
    <span
      class="text-3xl font-extrabold tracking-widest italic"
      style="color:#f9ef23;letter-spacing:0.1em;">{companyName}</span
    >
  </nav>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-32 text-white">
    <h1
      class="font-extrabold text-5xl md:text-7xl tracking-wide mb-4 uppercase italic drop-shadow-lg"
    >
      {callToAction}
    </h1>
    <button
      class="yellowBG p-3 px-8 rounded-full uppercase text-black font-bold text-lg shadow-lg hover:scale-105 transition-transform"
      >{buttonText}</button
    >
  </div>
</header>
